name: Build and sign multi-arch container

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
      - 'Makefile.test'
      - 'catalog.json'
      - 'scripts/**'
      - 'docs/**'
      - 'examples/**'
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write
      pull-requests: write

    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Build schema bundle for kubeconform
      run: |
        scripts/source-schemas.sh

    - name: Build containers
      run: make all-container

    - name: Log in to the Container registry
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Push containers
      run: make manifest-list | tee manifest.log

    - uses: sigstore/cosign-installer@d58896d6a1865668819e1d91763c7751a165e159 # tag=v3.9.2

    - name: Sign container
      run: make manifest-list-sign

    - name: Update catalog
      run: scripts/update-image-digest-in-docs.sh

    - name: Create catalog update PR
      uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
      with:
        token: ${{ github.token }}
        commit-message: 'Update catalog for build ${{ github.sha }}'
        title: 'Update catalog.json for build ${{ github.sha }}'
        body: |
          Update catalog.json after release of build ${{ github.sha }}
        #labels: automated pr
        branch: catalog/update
        delete-branch: true
        add-paths: catalog.json
