name: Run tests

on:
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'scripts/**'
      - 'docs/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Install devbox
      uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0

    - name: build local binaries for test
      run: devbox run -- make build lint test

    - name: code tests
      run: make test GOFLAGS="-v"

    - name: e2e tests
      run: devbox run -- make e2e-tests
